.style__switcher {
    position: fixed;
    left: 0;
    top: 10%;
    z-index: 10;
    background-color: var(--text-white);
    width: 200px;
    padding: 15px;
    box-shadow: 0 0 4px hsl(0, 0%, 80%);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.show-switcher {
    transform: translateX(0);
}

.style__switcher,
.style__switcher-toggler,
.theme__toggler {
    border-radius: 0 5px 5px 0;
}

.style__switcher-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 4px;
}

.style__switcher-title,
.style__switcher-toggler,
.theme__toggler,
.style__switcher-close {
    color: hsl(0, 0%, 40%);
}

.style__switcher-title {
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    border-bottom: 1px solid hsl(0, 0%, 87%);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* .theme__img {
    width: 30px;
    cursor: pointer;
} */

.theme1 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(252, 35%, 51%);
}
.theme2 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(225, 73%, 57%);
}
.theme3 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(183, 61%, 50%);
}
.theme4 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(88, 65%, 43%);
}
.theme5 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(43, 74%, 49%);
}
.theme6 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(19, 96%, 52%);
}
.theme7 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(339, 81%, 66%);
}
.theme8 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(4, 83%, 50%);
}

.style__switcher-toggler,
.theme__toggler {
    position: absolute;
    left: 100%;
    background-color: var(--text-white);
    height: 50px;
    width: 50px;
    font-size: var(--large-font-size);
    cursor: pointer;
    display: grid;
    place-items: center;
    box-shadow: 0 0 2px hsl(0, 0%, 80%);
    transition: all 0.3s ease;
}

.show-switcher .style__switcher-toggler,
.show-switcher .theme__toggler {
    left: -100%;
}

.style__switcher-toggler {
    top: 10%;
}

.theme__toggler {
    bottom: 10%;
}

.style__switcher-close {
    position: absolute;
    top: 2%;
    right: 15px;
    font-size: var(--h2-font-size);
    cursor: pointer;
}